*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/foobar.obo
src/ontology/foobar.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
*.tmp.obo
*.tmp.owl
