*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/foobar.obo
src/ontology/foobar.owl
src/ontology/foobar-base.owl
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
