{%- if project.ci is defined -%}{% if 'travis' in project.ci %}
[![Build Status](https://travis-ci.org/{{ project.github_org }}/{{ project.repo }}.svg?branch=master)](https://travis-ci.org/{{ project.github_org }}/{{ project.repo }})
{%- endif -%}{% if 'github_actions' in project.ci %}
![Build Status](https://github.com/{{ project.github_org }}/{{ project.repo }}/actions/workflows/qc.yml/badge.svg)
{% endif %}{% endif -%}

# {{ project.title }}

Description: {{ project.description }}

More information can be found at http://obofoundry.org/ontology/{{ project.id }}

## Versions

### Stable release versions

The latest version of the ontology can always be found at:

{{ project.uribase }}/{{ project.id }}.owl

(note this will not show up until the request has been approved by obofoundry.org)

### Editors' version

Editors of this ontology should use the edit version, [src/ontology/{{ project.id }}-edit.owl](src/ontology/{{ project.id }}-edit.{{ project.edit_format }})

## Contact

Please use this GitHub repository's [Issue tracker](https://github.com/{{ project.github_org }}/{{ project.repo }}/issues) to request new terms/classes or report errors or specific concerns related to the ontology.

## Acknowledgements

This ontology repository was created using the [Ontology Development Kit (ODK)](https://github.com/INCATools/ontology-development-kit).