airium==0.2.6
alabaster==1.0.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
babelon==0.2.9
backports.tarfile==1.2.0
bcp47==0.1.0
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==6.1.0
bmt==1.4.4
cachetools==5.4.0
cattrs==23.2.3
certifi==2024.7.4
cffi==1.17.0
CFGraph==0.2.1
chardet==5.2.0
charset-normalizer==3.3.2
class_resolver==0.4.3
click==8.1.7
click-default-group==1.2.4
colorama==0.4.6
comm==0.2.2
commonmark==0.9.1
contourpy==1.2.1
cryptography==43.0.0
curies==0.7.10
cycler==0.12.1
dacite==1.8.1
daff==1.3.46
dataclasses==0.6
dataclasses-json==0.6.7
dataclasses-jsonschema==2.16.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
docker==6.1.3
docutils==0.21.2
dosdp==0.1.10.dev1
EditorConfig==0.12.4
et-xmlfile==1.1.0
eutils==0.6.0
exceptiongroup==1.2.2
executing==2.0.1
fastjsonschema==2.20.0
fastobo==0.12.3
filelock==3.15.4
fonttools==4.53.1
fqdn==1.5.1
funowl==0.2.3
ghp-import==2.1.0
google==3.0.0
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.63.2
graphviz==0.20.3
greenlet==3.0.3
gspread==6.1.2
gspread-formatting==1.2.0
h11==0.14.0
hbreader==0.9.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.7
ijson==3.3.0
imagesize==1.4.1
importlib_metadata==8.2.0
importlib_resources==6.4.0
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isodate==0.6.1
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.2
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.4
jinjanator==24.3.0
jinjanator-plugins==24.1.0
jiter==0.5.0
jsbeautifier==1.15.1
jsobject==0.10.2
json-flattener==0.1.9
json5==0.9.25
jsonasobj==1.3.1
jsonasobj2==1.0.4
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.6.1
jsonpath-rw==1.4.0
jsonpickle==3.2.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jsonschema2md==1.3.0
jsonstreams==0.6.0
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
keyring==25.3.0
kgcl-rdflib==0.5.0
kgcl_schema==0.6.8
kgx==2.4.2
kiwisolver==1.4.5
lark==1.1.9
lightrdf==0.4.0
linkml==1.8.2
linkml-dataops==0.1.0
linkml-renderer==0.3.1
linkml-runtime==1.8.1
llm==0.13.1
lxml==5.3.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.1.post1
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
mdurl==0.1.2
mergedeep==1.3.4
mistune==3.0.2
mkdocs==1.6.0
mkdocs-get-deps==0.2.0
mkdocs-material==9.5.31
mkdocs-material-extensions==1.3.1
mkdocs-mermaid2-plugin==1.1.1
mkdocs-table-reader-plugin==2.2.2
more-click==0.1.2
more-itertools==10.4.0
mypy==1.11.1
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ndex2==3.9.0
neo4j==5.23.1
nest-asyncio==1.6.0
networkx==3.3
nh3==0.2.18
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.4
oaklib==0.6.14
oauthlib==3.2.2
ols-client==0.1.4
ontobio==2.9.3
ontodev-cogs==0.3.3
ontodev-gizmos==0.3.2
ontoportal-client==0.0.4
openai==1.40.3
openpyxl==3.1.5
ordered-set==4.1.0
overrides==7.7.0
packaging==24.1
paginate==0.5.6
pandas==2.2.2
pandocfilters==1.5.1
pansql==0.0.1
parse==1.20.2
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.10.0
platformdirs==4.2.2
plotly==5.23.0
pluggy==1.5.0
ply==3.11
prefixcommons==0.1.12
prefixmaps==0.2.5
prologterms==0.0.6
prometheus_client==0.20.0
prompt_toolkit==3.0.47
pronto==2.5.7
proto-plus==1.24.0
protobuf==5.27.3
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==15.0.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydotplus==2.0.2
PyGithub==2.3.0
Pygments==2.18.0
PyJSG==0.11.10
PyJWT==2.9.0
pymdown-extensions==10.9
PyNaCl==1.5.0
pyparsing==2.4.7
pyproject-api==1.7.1
PyShEx==0.8.1
PyShExC==0.9.1
pysolr==3.9.0
pyspellchecker==0.8.1
pystow==0.5.4
pytest==8.3.2
pytest-logging==2015.11.4
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-ulid==2.7.0
PyTrie==0.4.0
pytz==2024.1
PyYAML==6.0.2
pyyaml_env_tag==0.1
pyzmq==26.1.0
qtconsole==5.5.2
QtPy==2.4.1
ratelimit==2.2.1
rdflib==7.0.0
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
readme_renderer==44.0
recommonmark==0.7.1
referencing==0.35.1
regex==2024.7.24
requests==2.32.3
requests-cache==1.2.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scipy==1.14.0
seaborn==0.13.2
SecretStorage==3.3.3
semsimian==0.2.18
semsql==0.3.3
Send2Trash==1.8.3
ShExJSG==0.8.2
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
Sphinx==8.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.32
SQLAlchemy-Utils==0.38.3
sqlite-fts4==1.0.3
sqlite-migrate==0.1b0
sqlite-utils==3.37
sssom==0.4.11
sssom-schema==0.15.2
stack-data==0.6.3
stringcase==1.2.0
tabulate==0.9.0
tenacity==9.0.0
termcolor==2.4.0
terminado==0.18.1
terminaltables==3.1.10
tinycss2==1.3.0
tomli==2.0.1
tornado==6.4.1
tox==4.17.1
tqdm==4.66.5
traitlets==5.14.3
tsvalid==0.0.3
twine==5.1.1
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
UpSetPlot==0.9.0
uri-template==1.3.0
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==2.2.2
validators==0.20.0
virtualenv==20.26.3
watchdog==4.0.2
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.11
wrapt==1.16.0
xmltodict==0.13.0
yamldown==0.1.8
zipp==3.20.0
