aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.12
antlr4-python3-runtime==4.9.3
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.2
attrs==22.1.0
Babel==2.11.0
backcall==0.2.0
bcp47==0.0.4
beautifulsoup4==4.11.1
bidict==0.22.0
bioregistry==0.5.143
black==21.12b0
bleach==5.0.1
bmt==0.9.0
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
CFGraph==0.2.1
chardet==5.1.0
charset-normalizer==2.1.1
class-resolver==0.3.10
click==8.1.3
comm==0.1.2
commonmark==0.9.1
contourpy==1.0.6
cryptography==38.0.4
curies==0.4.0
cycler==0.11.0
dacite==1.6.0
daff==1.3.46
dataclasses==0.6
dataclasses-json==0.5.7
dataclasses-jsonschema==2.16.0
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
diskcache==5.4.0
distlib==0.3.6
docker==5.0.3
docutils==0.16
dosdp==0.1.10.dev1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.4
executing==1.2.0
fastjsonschema==2.16.2
fastobo==0.12.2
filelock==3.8.2
flake8==6.0.0
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2022.11.0
funowl==0.1.12
ghp-import==2.1.0
google==3.0.0
google-api-core==2.11.0
google-api-python-client==2.69.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.7.1
googleapis-common-protos==1.57.0
graphviz==0.20.1
greenlet==2.0.1
gspread==5.7.2
gspread-formatting==1.1.2
hbreader==0.9.1
httplib2==0.21.0
idna==3.4
ijson==3.1.4
imagesize==1.4.1
importlib-metadata==4.13.0
iniconfig==1.1.1
ipykernel==6.19.2
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.3
isodate==0.6.1
isoduration==20.11.0
j2cli==0.3.10
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jsobject==0.10.2
json-flattener==0.1.9
jsonasobj==1.3.1
jsonasobj2==1.0.4
jsonlines==3.1.0
jsonpatch==1.32
jsonpath-ng==1.5.3
jsonpath-rw==1.4.0
jsonpickle==3.0.0
jsonpointer==2.3
jsonschema==4.17.3
jsonschema2md==0.4.0
jsonstreams==0.6.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-events==0.5.0
jupyter_client==7.4.8
jupyter_core==5.1.0
jupyter_server==2.0.1
jupyter_server_terminals==0.4.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.4
keyring==23.11.0
kgcl-rdflib==0.3.0
kgcl-schema==0.3.1
kgx==1.7.2
kiwisolver==1.4.4
lark==1.1.5
lightrdf==0.3.1
linkml==1.3.15
linkml-dataops==0.1.0
linkml-runtime==1.3.7
Markdown==3.3.7
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
matplotlib-venn==0.11.7
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mergedeep==1.3.4
mistune==2.0.4
mkdocs==1.4.2
mkdocs-material==8.5.11
mkdocs-material-extensions==1.1.1
more-click==0.1.2
more-itertools==9.0.0
multidict==6.0.3
mypy==0.991
mypy-extensions==0.4.3
myst-parser==0.18.1
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
neo4j==4.3.0
nest-asyncio==1.5.6
networkx==2.8.8
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.23.5
nxontology==0.4.1
oaklib==0.1.60
oauthlib==3.2.2
ols-client==0.1.2
ontobio==2.8.3
ontodev-cogs==0.3.3
ontodev-gizmos==0.3.2
ontoportal-client==0.0.3
openpyxl==3.0.10
ordered-set==4.1.0
packaging==22.0
pandas==1.5.2
pandasql==0.7.3
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.3
pathspec==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pkginfo==1.9.2
platformdirs==2.6.0
plotly==5.11.0
pluggy==1.0.0
ply==3.11
pockets==0.9.1
prefixcommons==0.1.12
prefixmaps==0.1.4
prologterms==0.0.6
prometheus-client==0.15.0
prompt-toolkit==3.0.36
pronto==2.5.2
protobuf==4.21.11
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.2
pydotplus==2.0.2
pyflakes==3.0.1
PyGithub==1.57
Pygments==2.13.0
PyJSG==0.11.10
PyJWT==2.6.0
pymdown-extensions==9.9
PyNaCl==1.5.0
pyparsing==2.4.7
pyrsistent==0.19.2
PyShEx==0.8.1
PyShExC==0.9.1
pysolr==3.9.0
pyspellchecker==0.7.0
pystow==0.4.7
pytest==7.2.0
pytest-logging==2015.11.4
python-dateutil==2.8.2
python-json-logger==2.0.4
PyTrie==0.4.0
pytz==2022.6
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
ratelimit==2.2.1
rdflib==6.2.0
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
readme-renderer==37.3
recommonmark==0.7.1
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==12.6.0
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scipy==1.9.3
seaborn==0.12.1
SecretStorage==3.3.3
semsql==0.2.4
Send2Trash==1.8.0
ShExJSG==0.8.2
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
Sphinx==5.3.0
sphinx-click==4.4.0
sphinx-rtd-theme==1.1.1
sphinx_autodoc_typehints==1.19.5
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.44
SQLAlchemy-Utils==0.38.3
sssom==0.3.17
sssom-schema==0.9.4
stack-data==0.6.2
stringcase==1.2.0
tabulate==0.9.0
tenacity==8.1.0
termcolor==2.1.1
terminado==0.17.1
terminaltables==3.1.10
tinycss2==1.2.1
toml==0.10.2
tomli==1.2.3
tornado==6.2
tox==3.25.1
tox-docker==3.1.0
tqdm==4.64.1
traitlets==5.6.0
tsvalid==0.0.3
twine==4.0.2
typing-inspect==0.8.0
typing_extensions==4.4.0
UpSetPlot==0.7.0
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.13
validators==0.20.0
virtualenv==20.17.1
watchdog==2.2.0
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
widgetsnbextension==4.0.4
wrapt==1.14.1
yamldown==0.1.8
yarl==1.8.2
zipp==3.11.0
