click >= 0.0
dacite >= 0.0
dataclasses >= 0.0
dataclasses-json >= 0.0
dataclasses-jsonschema >= 0.0
jinja2 >= 0.0
jsonpath_rw >=0.0
jsonschema >=0.0
jupyter>=0.0
matplotlib_venn>=0.0
matplotlib==2.2.3
numpy >=0.0
ontobio>=0.0
pandas >=0.0
PyGithub >= 0.0
pyyaml >= 0.0
rdflib >=0.0
requests >=0.0
ruamel.yaml >=0.0
seaborn>=0.0
upsetplot>=0.0
plotly>=0.0
networkx==2.5
ontodev-cogs>=0.0
sssom==0.14.11.dev0