id: envo
title: Environment ontology
github_org: EnvironmentOntology
repo: envo
report_fail_on: NONE
use_dosdps: TRUE
export_formats:
  - owl
  - obo
  - json
release_artefacts: 
  - base
  - simple
  - full
import_group:
  products:
    - id: ro
      use_base: True
    - id: pato
      use_base: True
    - id: uberon
      use_base: True
    - id: chebi
      mirror_from: http://purl.obolibrary.org/obo/chebi.owl.gz
    - id: pco
    - id: foodon
    - id: go
      use_base: True
    - id: ncbitaxon
      mirror_from: http://purl.obolibrary.org/obo/ncbitaxon/taxslim.obo
    - id: obi
    - id: po
    - id: iao
    - id: fao
    - id: agro
subset_group:
  products:
    - id: EnvO-Lite-GSC
    - id: envoEmpo
    - id: envoPolar
pattern_pipelines_group:
  products:
    - id: entity_attribute
      dosdp_tools_options: "--obo-prefixes=true"
    - id: entity_attribute_location
      dosdp_tools_options: "--obo-prefixes=true"
robot_java_args: '-Xmx8G'
