id: maxo
title: "Medical Action Ontology"
github_org: monarch-initiative
repo: MAxO
report_fail_on: ERROR
use_dosdps: TRUE
dosdp_tools_options: "--obo-prefixes=true"
namespaces: 
  - http://purl.obolibrary.org/obo/MAXO_
release_artefacts: 
  - base
  - full
primary_release: full
export_formats:
  - owl
  - obo
  - json
import_group:
  products:
    - id: iao
    - id: go
    - id: ro
    - id: uberon
    - id: foodon
    - id: nbo
    - id: hp
    - id: chebi
      mirror_from: http://purl.obolibrary.org/obo/chebi.owl.gz
pattern_pipelines_group:
  products:
    - id: manual
      dosdp_tools_options: "--obo-prefixes=true"
robot_java_args: '-Xmx8G'
components:
  directory: ../templates
  products:
    - filename: obsolete.owl
    - filename: replaced.owl
    - filename: xrefs.owl 
allow_equivalents: all