<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<catalog prefer="public" xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog">
  <group id="odk-managed-catalog" prefer="public">
{%- if project.import_group is defined %}
{%-   if project.import_group.use_base_merging %}
    <uri name="{{project.uribase}}/{% if project.uribase_suffix is not none %}{{ project.uribase_suffix }}{% else %}{{ project.id }}{% endif %}/imports/merged_import.owl" uri="imports/merged_import.owl"/>
{%-   else %}
{%-     for imp in project.import_group.products %}
    <uri name="{{project.uribase}}/{% if project.uribase_suffix is not none %}{{ project.uribase_suffix }}{% else %}{{ project.id }}{% endif %}/imports/{{imp.id}}_import.owl" uri="imports/{{imp.id}}_import.owl"/>
{%-     endfor %}
{%-   endif %}
{%- endif %}
{%- if project.components is defined %}
{%-   for component in project.components.products %}
    <uri name="{{project.uribase}}/{% if project.uribase_suffix is not none %}{{ project.uribase_suffix }}{% else %}{{ project.id }}{% endif %}/components/{{component.filename}}" uri="components/{{component.filename}}"/>
{%-   endfor %}
{%- endif %}
{%- if project.use_dosdps %}
    <uri name="{{project.uribase}}/{% if project.uribase_suffix is not none %}{{ project.uribase_suffix }}{% else %}{{ project.id }}{% endif %}/patterns/definitions.owl" uri="../patterns/definitions.owl"/>
{%-   if project.import_pattern_ontology %}
    <uri name="{{project.uribase}}/{% if project.uribase_suffix is not none %}{{ project.uribase_suffix }}{% else %}{{ project.id }}{% endif %}/patterns/pattern.owl" uri="../patterns/pattern.owl"/>
{%-   endif %}
{%- endif %}
  </group>
</catalog>
