Prefix(:=<http://purl.obolibrary.org/obo/foobar.owl#>)
Prefix(owl:=<http://www.w3.org/2002/07/owl#>)
Prefix(rdf:=<http://www.w3.org/1999/02/22-rdf-syntax-ns#>)
Prefix(xml:=<http://www.w3.org/XML/1998/namespace>)
Prefix(xsd:=<http://www.w3.org/2001/XMLSchema#>)
Prefix(rdfs:=<http://www.w3.org/2000/01/rdf-schema#>)


Ontology(<{{project.uribase}}/{{project.id}}.owl>
{% if project.import_group is defined %}
{% for imp in project.import_group.ids %}
Import(<{{project.uribase}}/{{project.id}}/foobar/imports/{{imp}}_import.owl>)
{% endfor %}
{% endif %}
Annotation(rdfs:comment "{{project.title}}")

Declaration(Class(<http://purl.obolibrary.org/obo/FOOBAR_00000000>))


############################
#   Classes
############################

# Class: <http://purl.obolibrary.org/obo/FOOBAR_00000000> (foobar)

AnnotationAssertion(rdfs:label <http://purl.obolibrary.org/obo/FOOBAR_00000000> "foobar"@en)


)
