docker run -v %cd%\..\..\:/work -w /work/src/ontology {% if project.robot_java_args is defined %}-e 'ROBOT_JAVA_ARGS={{ project.robot_java_args }}' -e 'JAVA_OPTS={{ project.robot_java_args }}'{% endif %} {% if project.use_external_date is sameas True %}-e TODAY=`date +%Y-%m-%d` {% endif %}--rm -ti obolibrary/odkfull %*
